body {
    background-color: #000000;
}

.container-fluid {
    padding: 50px;
}

.container {
    background-color: white;
    padding: 50px;
}


.tweettext {

    border: 2px solid yellowgreen;
    width: 1104px;
    height: 442px;
    overflow: scroll;
}

.style1 {
    color: #FF0000;
    font-weight: bold;
}

.style4 {
    color: #FFFF00;
    font-weight: bold;
}

.style5 {
    color: #FFFF00
}