body {
    background-color: #000000;
}

.container-fluid {
    padding: 50px;
}

.container {
    background-color: white;
    padding: 50px;
}


.tweettext {

    border: 2px solid yellowgreen;
    width: 1104px;
    height: 442px;
    overflow: scroll;
}

.style1 {
    color: blue;
    font-weight: bold;
    background-color: rgba(255, 255, 255, 0.5);
}

.style7 {
    color: #110eca
}