body {
    background: url("{% static 'bg.jpg' %}");
}

.container-fluid {
    padding:50px;
}
.container{
    background-color:white;padding:50px;   
}
#title{
    
}

.text-uppercase{
    
}
.style1 {
    color: blue;
    font-weight: bold;
    background-color: rgba(255, 255, 255, 0.5);
}
.style4 {
    color: #FF00FF; 
    font-weight: bold; 
}
.style5 {
    
    color: #180270;
    background-color: rgba(255, 255, 255, 0.5);
    font-weight: bold;
}