{% extends 'RUser/design.html' %}
{% block userblock %}


<link rel="icon" href="images/icon.png" type="image/x-icon" />
<link href="https://fonts.googleapis.com/css?family=Lobster" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Righteous" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Fredoka+One" rel="stylesheet">
<link rel="stylesheet" href="Predict_Cyber_Threat_Type.css">
<body>
	<div class="container-fluid">
		<div class="container">

			<div class="row">
				<div class="col-md-5">

                   <form role="form" method="POST" >
						{% csrf_token %}
						<fieldset>
							<p class="text-uppercase pull-center style1">PREDICTION OF CYBER THREAT TYPE !!! </p>
                            <hr>

                                {% csrf_token %}
                                <table width="1014" align="center">
                                  <tr>
                                    <td height="62" colspan="4" bgcolor="#2b0dbd" ><div align="center" class="style9">Enter IIOT Network Dataset Details Here !!! </div></td>
                                  </tr>
                                  
                                  <tr>
                                    <td height="44" bgcolor="#2b0dbd"><div align="center" class="style8">Enter pid</div></td>
                                    <td><input type="text" name="pid"></td>
                                    <td bgcolor="#2b0dbd"><div align="center" class="style8">Enter ptime</div></td>
                                    <td><input type="text" name="ptime"></td>
                                  </tr>
                                  <tr>
                                    <td height="44" bgcolor="#2b0dbd"><div align="center" class="style8">Enter src_ip_address</div></td>
                                    <td><input type="text" name="src_ip_address"></td>
                                    <td bgcolor="#2b0dbd"><div align="center" class="style8">Enter dst_ip_address</div></td>
                                    <td><input type="text" name="dst_ip_address"></td>
                                  </tr>
                                  <tr>
                                    <td height="44" bgcolor="#2b0dbd"><div align="center" class="style8">Enter frame_protos</div></td>
                                    <td><input type="text" name="frame_protos"></td>
                                    <td bgcolor="#2b0dbd"><div align="center" class="style8">Enter src_port</div></td>
                                    <td><input type="text" name="src_port"></td>
                                  </tr>
                                  <tr>
                                    <td height="44" bgcolor="#2b0dbd"><div align="center" class="style8">Enter dst_port</div></td>
                                    <td><input type="text" name="dst_port"></td>
                                    <td bgcolor="#2b0dbd"><div align="center" class="style8">Enter bytes_trans</div></td>
                                    <td><input type="text" name="bytes_trans"></td>
                                  </tr>
                                  <tr>
                                    <td width="289" height="44" bgcolor="#2b0dbd"><div align="center" class="style8">
                                      <div align="center"><span class="style2">Enter protocol</span></div>
                                    </div></td>
                                    <td width="217"><input type="text" name="protocol"></td>
                                    <td width="323" bgcolor="#2b0dbd"><div align="center" class="style8">Enter Date1</div></td>
                                    <td width="202"><input type="text" name="Date1"></td>
                                  </tr>
                                  <tr>
                                    <td height="44" bgcolor="#FFFFFF">&nbsp;</td>
                                    <td>&nbsp;</td>
                                    <td><input name="submit" type="submit" class="style1" value="Predict"></td>
                                    <td>&nbsp;</td>
                                  </tr>
  <td><p>&nbsp; </p>
          <p>&nbsp;</p></td>
  </tr>
                                </table>
					 </fieldset>
				  </form>


 					<form role="form" method="POST" >
						{% csrf_token %}
						<fieldset>

                            <hr>
                            <div>
                              <table width="836" height="59" border="0" align="center" >
                                    <tr><td width="515" bgcolor="#2b0dbd"><div align="center"><span class="style6">PREDICTED CYBER THREAT TYPE </span>:: </div></td>



                                      <td width="311" bgcolor="#FFFFFF" style="color:rgb(54, 45, 151); font-size:20px; font-family:fantasy" ><div align="center"><strong>{{objs}}</strong></div></td>
                                    </tr>
                      </table>



                            </div>




						</fieldset>
					</form>
				</div>

				<div class="col-md-2">
					<!-------null------>
				</div>
            </div>
        </div>
    </div>
{% endblock %}
    <tr>